@using Wallet.Client.Web.Entities
@using Wallet.Client.Web.Interfaces
@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorageService

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        @if (user != null)
        {
            <div class="top-row px-4" style="background-color: #1E272C; border-bottom: none">
                <div style="margin-right: 1.5rem">
                    <a style="color: #fff" href="account">Аккаунт</a>
                    <a style="color: #fff" href="signOut">Выход</a>
                </div>
            </div>
        }
        else
        {
            <div class="top-row px-4" style="background-color: #1E272C; border-bottom: none">
                <div style="margin-right: 1.5rem">
                    <a style="color: #fff" href="signIn">Вход</a>
                    <a style="color: #fff" href="signUp">Регистрация</a>
                </div>
            </div>
        }
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private bool loading;
    private User user;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        user = await LocalStorageService.GetItem<User>("user");
        loading = false;
    }
}